* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.card {
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}

.card-image {
    background-image: url(images/image-header-mobile.jpg);
    height: 300px;
}