/*Variables*/
$main-background: hsl(233, 47%, 7%);
$card-background: hsl(244, 38%, 16%);
$accent-clr: hsl(277, 64%, 61%);

// -- Typography Colors
$main-heading: hsl(0, 0%, 100%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$stat-headings: hsla(0, 0%, 100%, 0.6);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .attribution {
//   font-size: 11px;
//   text-align: center;

//   .attr {
//     color: white;
//   }

//   a {
//     color: hsl(228, 45%, 44%);
//   }
// }

body {
  width: 100%;
  height: 100%;
  background-color: $main-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: $card-background;
  border-radius: 0.5em;
  margin: 2em 1.5em;
  color: #fff;
}


.card-image {

  .mobile-img {
    width: 100%;
    max-width: 400px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    
  }
}

// .card-text,
// .card-stats {
//   margin: 0em 2em;
//   text-align: center;
// }

// .card-text {
//   span {
//     color: $accent-clr;
//   }

//   .heading {
//     margin: 1.5em 0em;
//     color: $main-heading;
//   }

//   .tagline {
//     line-height: 1.7;
//     color: $main-paragraph;
//   }
// }

// .card-stats {
//   font-size: 1.3rem;
//   font-weight: 700;

//   .stat {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     margin: 1.8em 0em;
//   }

//   span {
//     color: $stat-headings;
//     text-transform: uppercase;
//     letter-spacing: 1px;
//     font-weight: 400;
//     font-size: 0.8rem;
//   }
// }

@media (min-width: 450px) {
  body {
    min-height: 100vh;
  }
  .card {
  }
}
