* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #090b1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 210px auto 240px;
      grid-template-rows: 210px auto 240px;
      grid-template-areas: "image" "text" "stats";
  font-family: "Inter", sans-serif;
  border-radius: 7px;
  background-color: #1b1938;
  color: white;
}

.card-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  background-image: url(images/image-header-mobile.jpg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
}

.card-image .color-overlay {
  width: 100%;
  height: 100%;
  background: #aa5cdb;
  opacity: 0.5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}

.card-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  text-align: center;
}

.card-text .heading {
  padding: 30px 30px 10px 30px;
}

.card-text .heading span {
  color: #aa5cdb;
}

.card-text .tagline {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  padding: 10px 20px;
  line-height: 30px;
}

.card-stats {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: stats;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.card-stats .stat-1,
.card-stats .stat-2,
.card-stats .stat-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.card-stats span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (min-width: 800px) {
  .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 500px 500px;
        grid-template-columns: 500px 500px;
    -ms-grid-rows: 300px;
        grid-template-rows: 300px;
        grid-template-areas: "text" "stats" "image";
    border-bottom-right-radius: 10px;
  }
  .card-text {
    padding: 40px;
  }
  .card-text .heading {
    font-size: 30px;
  }
  .card-text .tagline {
    margin-left: 10px;
  }
  .card-text,
  .card-stats {
    text-align: left;
  }
  .card-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0px 40px 50px 40px;
  }
  .card-stats .stat-1,
  .card-stats .stat-2,
  .card-stats .stat-3 {
    position: relative;
    right: 20px;
  }
  .card-image {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
  }
  .card-image .color-overlay {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */